@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}



:root {
  --900: oklch(0.1 0.002 150);
  --800: oklch(0.12 0.002 150);
  --700: oklch(0.15 0.002 150);
  --600: oklch(0.2 0.002 150);
  --400: oklch(0.85 0.002 150);
  --300: oklch(0.92 0.002 150);
  --200: oklch(0.97 0.002 150);
  --100: oklch(1 0 0);

  --accent: oklch(0.8 0.2 80);
  --accent-medium: oklch(0.9 0.15 80);
  --accent-light: oklch(0.95 0.1 80);

  --radius: 0.625rem;
  --background: #101211;
  --foreground: #fff;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #ffc44d;
  --primary-foreground: #101211;
  --secondary: #ffffff14;
  --secondary-foreground: #fff;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: #202221;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
  }

  h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: #fff;
  }



  @media (max-width: 767px) {
    h1 {
      font-size: 3.25rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 479px) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.125rem;
    }

    h4 {
      font-size: 1.375rem;
    }

    h6 {
      font-size: 1.125rem;
    }

    p {
      font-size: 0.9375rem;
    }

  }

  img {
    @apply w-full h-full;
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

}


@utility text-gradient-overlay {
  background-image: linear-gradient(90deg, white 72%, #ffda8f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@utility gradient-img {
  z-index: 0;
  mix-blend-mode: luminosity;
  background-image: linear-gradient(#000000bf, #000000bf), url("/footer-illustration.avif");
  background-position: 0 0, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

@utility section {
  @apply px-10 py-12;

  @media (max-width: 767px) {
    @apply px-6 py-8;
  }

  @media (max-width: 479px) {
    @apply px-4 py-6;
  }
}

@utility paragraph-small {
  font-size: 0.875rem;
  line-height: 1.5;
}

@utility paragraph-large {
  font-size: 1.25rem;
  line-height: 1.45;
}

@utility paragraph-extra-large {
  font-size: 1.75rem;
  line-height: 1.4;

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1.375rem;
  }
}

@utility heading-extra-small {
  letter-spacing: -0.02em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

@utility heading-small {
  letter-spacing: -.03em;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;

  @media screen and (max-width: 479px) {
    font-size: 1.25rem;
  }
}

@utility heading-medium {
  letter-spacing: -0.03em;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;

  @media screen and (max-width: 479px) {
    font-size: 2rem;
  }
}

@utility heading-regular {
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;

  @media screen and (max-width: 479px) {
    font-size: 1.375rem;
  }
}

@utility heading-large {
  letter-spacing: -.02em;
  font-size: 3.5rem;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 2.125rem;
  }
}

@utility heading-extra-large {
  letter-spacing: -0.02em;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;

  @media screen and (max-width: 767px) {
    font-size: 3.25rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 2.5rem;
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}